.about-container {
    display: flex;
    align-items: center;
    /* max-width: 1250px; */
    min-height: 100vh;
    margin: auto;
    /* padding: 40px; */
    padding: 10rem;
    gap: 50px;
    background-image: url("../../assets/white-background.png"); 
    background-size: cover;
    background-position: center;
}

.about-content {
    padding: 50px;
}

.about-content h1 {
    color: #29abe2;
    margin-bottom: 10px;
}

.about-content p {
    font-size: 18px;
    line-height: 1.5;
    color: #262e33;
    
}

.about-image img {
    max-height: 500px;
    max-width: 600px;
    border-radius: 24px;
}
 

