.association-container {
  max-width: 100%;
  height: 40vh;
  padding: 30px;
}

.association-container h1 {
  padding: 20px;
  text-align: center;
  color: #262e33;
}

.association-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.association-cards img {
  width: 275px;
  height: 150px;
  margin: 15px;
  padding: 25px;
  cursor: pointer;
  border: 1px solid #e1e1e1;
  transition-duration: 0.5s;
}

.association-cards img:hover {
  border-color: #262e33;
}
