* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Manrope', sans-serif;
  }

  .background-color {
    background-color: #F5C912;
  }
  /* .top-level {
    background-color:#f5c912;
  } */